<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
       
       <!-- <bean id="hello" class="test.spring.mvc.HelloController"/> -->
       
       <!-- <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       		<property name="profix" value="/test/" />
       		<property name="subfix" value=".jsp" />
       </bean> -->
       

	   <context:component-scan base-package="library.controller" /> 
	   <context:component-scan base-package="member.controller" />
  	   <context:component-scan base-package="main.controller" />
  	   <context:component-scan base-package="sugang.controller" />       

       <!-- 파일정보 설정 -->
       <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
       		<property name="maxUploadSize" value="-1"/> 	<!-- 용량이 무제한 -->
       		<property name="defaultEncoding" value="euc-kr"/>
       </bean>
</beans>
